/*--------------------------RESPONISVE AREA @media------------------------------------------*/

@media (max-width: 1060px) {
  header .menu-btn {
    display: block;
  }

  header .menu {
    position: fixed;
    background: #1483d5;
    flex-direction: column;
    min-width: 400px;
    height: auto;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.6s;
    transition-property: right;
  }

  header .menu.active {
    right: 0;
    transition: 0.6s;
    transition-property: left;
    display: block;
  }
  header .menu .fa-times {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }
  header .menu a {
    display: block;
    font-size: 30px;
    margin-bottom: 63px;
    padding: 0 15px;
    text-align: left;
    transition: 0.5s;
    font-weight: bold;
  }

  header .menu a i {
    font-size: 60px;
    margin-right: 20px;
  }
  /*--------------------------Game Grid------------------------------------------*/
  .games-grid li {
    width: 600px;
  }
  .hit-game li {
    width: 800px;
  }
  .overlay-button a {
    width: 60%;
  }
  /*----------------header -------------------*/
  .banner-header-btn ul {
    flex-direction: column;
  }
  .banner-header-btn ul li {
    margin: 20px 5px;
  }
  .banner-header-btn ul li a {
    padding: 20px 80px;
    display: block;
    font-size: 50px;
  }
  .banner-header-info p {
    margin-bottom: 5%;
    color: #fff;
    width: 60%;
    text-align: left;
    font-size: 29px;
  }
  .banner-header-info img {
    display: none;
  }
  /*----------------header -------------------*/
  .header2 {
    border-bottom: 5px dashed #0000004a;
  }

  /*-------------------Hit game section-----------------*/
  .hit-game-section {
    height: 30vh;
    margin-bottom: 40vh;
  }

  .hit-game-section::after {
    height: 35rem;
    bottom: -185px;
    transform: skewY(-20deg);
  }

  .hit-img-btn {
    width: auto;
    flex-direction: column;
  }
  .about-game h1 {
    font-size: 80px;
  }
  .about-game em {
    margin-top: 0%;
    font-size: 35px;
  }
  .store-btn {
    left: 0%;
  }
  .store-btn a img {
    width: 400px;
    border-radius: 50px;
  }
  .hit-img img {
    width: 100%;
    height: 700px;
  }
  .games-header {
    right: 22%;
  }
  .games-header h1 {
    font-size: 65px;
  }

  /*---------------KPI SECTION----------------*/
  .kpi-section ul {
    padding-bottom: 0%;
    flex-direction: column;
  }
  .kpi-section ul li {
    width: 100%;
    padding: 5% 10% 5% 10%;
  }
  .kpi-section ul li:last-child {
    margin-bottom: 0%;
  }
  .kpi-section ul li:nth-child(odd) {
    background-color: #00abff;
  }

  .kpi-section ul li p {
    font-size: 40px;
  }
  .kpi-section ul li i {
    font-size: 200px;
  }
  /*-------------TEAM SECTION------------*/
  .team-section ul {
    flex-direction: column;
  }
  .team-section ul li img {
    width: 400px;
  }
  .team-section ul li h3 {
    font-size: 70px;
    font-weight: 300;
    margin: 0% 0 0 0;
  }
  .team-section ul li p {
    font-size: 50px;
    margin-bottom: 10%;
  }
  .team-leader img {
    width: 500px;
    height: 500px;
  }
  .team-leader h3 {
    font-size: 70px;
    font-weight: 300;
    margin: 0% 0 0 0;
  }
  .team-leader p {
    font-size: 50px;
    margin-bottom: 10%;
  }

  /*--------------FOOTER SECTION-----------------*/
  .bottom-footer {
    flex-direction: column-reverse;
  }
  .footer-content h1 {
    font-size: 80px;
    margin: 0px;
    font-weight: 300;
  }
  .bottom-footer p {
    color: #fff;
    width: 50%;
    font-size: 20px;
    font-weight: 400;
  }
  .bottom-footer a {
    font-size: 20px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 1060px) {
  /*--------------TIMLINE---------------*/
  .timeline::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #737373;
  }
  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
  }

  .timeline ul li::after {
    content: " ";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #737373;
    border-radius: 50%;
    top: 0;
  }

  .timeline ul li:nth-child(odd)::after {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::after {
    transform: translate(-50%, -50%);
    left: -30px;
  }

  .timeline ul li:hover::after {
    background-color: #393939;
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 10px #000;
    transition: 0.6s;
  }
  .timeline ul li:nth-child(odd):hover {
    box-shadow: 0px 0px 10px #000;
    border-radius: 20px 0px 20px 20px;
    transition: 0.6s;
  }
  .timeline ul li:nth-child(even):hover {
    box-shadow: 0px 0px 10px #000;
    border-radius: 0px 20px 20px 20px;
    transition: 0.6s;
  }

  .timeline-content .date-time {
    color: #000;
    position: absolute;
    top: -30px;
    font-size: 20px;
  }
}
/*--------------------------RESPONISVE AREA @media------------------------------------------*/
