@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}
body {
  background: #f7f7f7;
  min-height: 100vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 25px 30px;
  z-index: 10000;
}
header.sticky {
  transition: 1s;
  padding: 35px 100px;
  /*background-image: linear-gradient(#000, rgba(0, 0, 0, 0.394));*/
  background: #1483d5;
  background-position: center;
}
header .logo {
  transition: 0.6s;
  width: 200px;
}
header .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  padding: 0 10px;
  transition: 1s;
}

header .menu a:hover {
  color: #000;
}
header .menu-btn {
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  display: none;
}

.banner {
  position: relative;
  width: 100%;
  background: url(../imgs/BG1.png) no-repeat;
  background-size: cover;
  display: flex;
  background-attachment: scroll;
  background-position: center;
}
.shadow {
  width: 100%;
  height: 50%;
  background-image: linear-gradient(#000, #0000);
}
header.sticky ul li a {
  color: #fff;
}
header.sticky ul li a:hover {
  color: rgb(48, 48, 48);
}
header.sticky .logo {
  width: 15vh;
}
/*________________________________*/
.content {
  display: contents;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* header2 */

.header2 {
  text-align: center;
  border-bottom: 2px dashed #0000004a;
  padding-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.anim {
  margin-top: 0px;
  font-size: 50px;
}
.header2 p {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 10px;
}

.games-section {
  width: 100%;
}

.games-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: block;
  display: block;
  text-align: center;
  width: 100%;
}

.games-grid:after {
  clear: both;
}
.games-grid:after,
.xop-box:before {
  content: "";
  display: table;
}
.games-grid li {
  width: 328px;
  display: inline-block;
  margin: 5px;
  margin-bottom: 5px;
  background: #fff;
  padding: 20px;
}

.hit-game li {
  width: 500px;
  display: inline-block;
  margin: 5px;
  margin-bottom: 5px;
  background: #ffb703;
  padding: 20px;
}

.hit-game {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: block;
  display: block;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to right, #f7f7f7, #ffb703, #f7f7f7);
}
.xop-box {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: 0.3s ease-in-out, -webkit-transition 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out, -moz-transition 0.3s ease-in-out;
  transition: 0.3s ease-in-out, transition 0.3s ease-in-out;
}

.xop-box:hover {
  transform: scale(1.05);
}

.game-img-1 {
  width: inherit;
}

.overlay-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.overlay-button:hover a {
  display: block;
}

.overlay-button a {
  margin: 5%;
  display: none;
}
.overlay-button a img {
  width: 100%;
  height: 50px;
}

.kpi-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.kpi-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 50px;
}
.kpi-section ul li {
  list-style: none;
  width: 21%;
  text-align: center;
}
.kpi-section ul li i {
  font-size: 100px;
  margin-bottom: 10px;
  color: #fff;
}
.kpi-section ul li p {
  font-size: 15px;
  margin-top: 10px;
  color: #fff;
  font-weight: bolder;
}
/*--------------TIMLINE---------------*/
.timeline-area {
  margin: 90px auto;
  width: 360px;
  border-left: 2px solid rgb(52, 52, 52);
  padding: 0 20px 0 30px;
}
.timeline-area div {
  background-color: #fff;
  padding: 10px 25px;
  font-size: 16px;
  border: 1px solid rgb(52, 52, 52);
  line-height: 1.7;
  position: relative;
  height: 110px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.timeline-area div::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  border: 3px solid #ddd;
  position: absolute;
  top: -30px;
  left: -135px;
}

.timeline-area div::after {
  content: "";
  width: 0px;
  height: 1px;
  border-style: solid;
  border-color: transparent #ddd transparent transparent;
  border-width: 20px;
  position: absolute;
  left: -41px;
  top: -2px;
}
.timeline-area div h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.timeline-area div h3 {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.timeline-area div h4 {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/*-------------------team------------------*/
.team-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.team-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 50px;
}
.team-section ul li {
  list-style: none;
  width: 21%;
  text-align: center;
}
.team-section ul li i {
  font-size: 100px;
  margin-bottom: 10px;
}
.team-section ul li p {
  font-size: 25px;
  margin-top: 10px;
}
/*---------------FOOTER-----------------*/
footer {
  width: 100%;
  height: auto;
  background-color: #00abff;
  padding-top: 40px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h1 {
  font-size: 50px;
  margin: 10px;
  color: #fff;
}

.footer-content p {
  margin-bottom: 50px;
  font-size: 20px;
  color: #fff;
}
.socilas {
  display: flex;
  align-items: center;
  justify-content: normal;
  margin-bottom: 50px;
}
.socilas li {
  margin: 0 10px;
}
.socilas li a {
  text-decoration: none;
  color: #fff;
}
.socilas li a i {
  font-size: 50px;
}
.bottom-footer {
  display: flex;
  width: 100%;
  position: relative;
  padding: 30px;
}
.bottom-footer a {
  text-decoration: none;
  color: #fff;
  margin-left: 70%;
}
.bottom-footer p {
  color: #fff;
}
/*---------------------Banner-Header----------------------*/
.banner-header-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding-top: 15%;
}
.banner-header-info img {
  width: 30%;
  margin-bottom: 5%;
}
.banner-header-info p {
  margin-bottom: 5%;
  color: #fff;
  width: 60%;
  text-align: left;
}

.banner-header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.banner-header-btn ul {
  display: flex;
  flex-direction: initial;
  width: 100%;
  justify-content: center;
}
.banner-header-btn ul li {
  margin: 0 5px;
  padding: 10px 0px;
  border: 2px solid #fff;
  border-radius: 10px;
}
.banner-game-btn {
  background: #fff;
}

.banner-game-btn a {
  text-decoration: none;
  color: #000;
  padding: 20px 50px;
  font-weight: bold;
}
.banner-contact-btn a {
  text-decoration: none;
  color: #fff;
  padding: 20px 50px;
}
